<%== pagy_nav(@pagy)%>
<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Credit card</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
      <td><%= contact.created_at %></td>
        <td><%= contact.name %></td>
        <td><%= contact.birth_human_date_format %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.address %></td>
        <td><%= contact.last_four_digits %></td>
        <td><%= contact.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>